/*Main*/

body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body a {
	text-decoration: none;
}

/*Header*/

#logo img {
	width: 60px;
    height: 100px;
    margin-top: 20px;
}

.navigation ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 0px;
}

.navigation a {
	font-size: 1.2em;
	font-weight: bold;
	color: #727272;
	text-decoration: none;
	transition-property: color;
    transition-duration: 0.3s;
}

.navigation li {
	margin-left: 3.5em;
	padding: 0px;
}

.navigation a:hover {
	color: #1a1a1a;
}

.call {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2d56f5;
	border-radius: 10px;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.6);
	transition-property: box-shadow !important;
}

.call:hover {
    box-shadow: 0 2px 25px 0 rgba(0,0,0,.6);
}

.call p {
	color: white;
	font-weight: normal;
	margin: 10px 20px 10px 5px;
}

.call img {
	width: 20px;
  	height: 20px;
  	margin: 10px 5px 10px 20px;
}

header {
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-part {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1024px;
}

.nav-button {
	display: none;
	visibility: hidden;
}
.nav-line {
	width: 100%;
	height: 6px;
	background-color: #2F2E2E;	
	transition-property: background-color;
	transition-duration: 0.3s;
}

.nav-button:hover .nav_line {
	background-color: #999997;
}

.mobile_nav_hidden {
	display: none;
	visibility: hidden;
}

.mobile_nav {
	visibility: hidden;
	display: none;
}

.mobile_nav nav ul {
	box-shadow: inset 0 0 10px #818181;
}

.navigation ul li:nth-child(1) {
	margin-left: 0;
}

@media screen and (min-width: 1500px) {
	#header-part, .container {
		width: 1260px;
	}
}

@media screen and (max-width: 1500px) {
	#header-part, .container {
		width: 1160px;
	}
}

@media screen and (max-width: 1280px) {
	#header-part, .container {
		width: 1040px;
	}
}

@media screen and (max-width: 1050px) {
	#header-part, .container {
		width: 100%;
		padding: 0 15px 0 15px;
	}

	#member-part {
		margin-right: 1.5em;
	}

	.navigation li {
		margin-left: 1.5em;
	}
}

@media screen and (max-width: 800px) {
	.navigation li {
		margin-left: 1em;
	}
}

@media screen and (max-width: 765px) {
	header {
		background-color: white;
	}

	.mobile_nav {
		visibility: visible;
		display: block;
		border-top-style: solid;
		border-color: #CBCBCB;
		border-width: 2px; 
	}

	.mobile_nav ul {
		list-style-type: none;
		background-color: white;
		margin: 0;
		padding: 0;
		height: 15em;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-bottom: 0.8em;
		padding-top: 0.8em;	
	}

	.mobile_nav a {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.3em;
		font-weight: bold;
		color: #727272;
		text-decoration: none;
		transition-property: color;
	    transition-duration: 0.5s;
	}

	.mobile_nav a:hover {
		color: #404040;
	}

	.mobile_nav li {
		margin: 0 1.5em 0 1.5em;
		text-align: center;
	}

	.navigation {
		visibility: hidden;
		display: none;
	}

	.nav-button {
		display: block;
		visibility: visible;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 35px;
		height: 28px;
		cursor: pointer;
		margin-left: 2em;
	}

	#logo img {
		width: 50px;
    	height: 90px;
    	margin-top: 10px;
	}
}

@media screen and (max-width: 400px) {
	.nav-button {
		margin-left: 14px;
	}
}

@media screen and (max-width: 330px) {
	#logo {
		display: none;
		visibility: hidden;
	}
}

/*Drop Down*/

.dropbtn {
  cursor: pointer;
  height: 43px;
  width: 43px;
}

.dropdown {
  position: relative;
  display: inline-block;
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1), 0 8px 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 1em;
}

.dropdown-content p {
  color: #437BBA;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  cursor: default;
}

.dropdown-content img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-content a:hover {
	background-color: #ddd;
	border-radius: 0.2em;}

.show {display:block;}

/*Intro*/

#introduction {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

#introduction h1 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	color: #ff1e1e;
	font-size: 4.4em;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 65px;
}

#introduction p {
	color: #2d56f5;
	font-weight: normal;
	font-size: 1.6em;
}

#staff-picture {
	width: 95%;
	border: 10px solid #2d56f5;
}

#introduction .column:nth-child(1) {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

#introduction .column:nth-child(2) {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-50 {
	width: 50%;
}

.column-wrap {
	display: flex;
	color: white;
}

.main-call-button {
	width: 120px;
	font-size: 14px;
}

.main-call-button p {
	color: white !important;
}

.main-email-button p {
	color: black !important;
	margin: 10px 10px 10px 10px;
}

.main-email-button {
	width: 120px;
	font-size: 13px;
	background-color: white;
	margin-right: 20px;
}

.button-container {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 1050px) {
	#course-button, #course-button:hover {
		margin-top: 50px;
	}

	#introduction h1 {
		font-size: 4em;
	}

	#introduction p {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 870px) {
	#introduction {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 0;
	}

	#group-picture {
		width: 100%;
	}

	#introduction h1 {
		font-size: 3.6em;
	}
}

@media screen and (max-width: 765px) {

	#introduction {
		margin-top: 10px;
	}

	#introduction h1 {
		font-size: 3.2em;
	}

	.column-wrap {
		flex-direction: column;
	}

	.w-50 {
		width: 100%;
	}

	#staff-picture {
		margin-top: 50px;
		width: 80%;
	}
}

@media screen and (max-width: 420px) {
	#staff-picture {
		width: 100%;
	}
}

@media screen and (max-width: 365px) {
	#introduction h1 {
		font-size: 2.4em;
	}
}

/* Absolute text */

#absolute-text {
	display: none;
	visibility: hidden;
	flex-direction: row;
	position: absolute;
	transform-origin: top left;
  	left: 20px;
  	top: 100px;
  	transform: rotate(-90deg) translateX(-100%);
}

#absolute-text * {
	margin-bottom: 0;
	margin-top: 0;
}

.absolute-picture {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
}

#absolute-text p {
	color: #2d56f5;
	margin-right: 10px;
}

@media screen and (min-width: 1180px) {
	#absolute-text {
		visibility: visible;
		display: flex;
	}
}

/*Second section*/

#second-section {
	background-color: #2d56f5;
	padding-bottom: 90px;
}

#descent-icon {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 2.5em;
	height: 70px;
	width: 70px;
	position: relative;
	top: -35px;
}

#second-section h2 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	font-size: 3em;
	text-align: center;
	color: white;
	margin-top: 0;
}

.row-picture * {
	box-sizing: border-box;
}

.row-picture {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  max-width: 1260px;
  margin: auto;
}

.column-picture {
  flex: 33.33%;
  max-width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column-picture img {
  margin: auto;
  vertical-align: middle;
  width: 100%;
}

#tap-logo {
	width: 110px;
	height: 110px;
}

#heater-logo {
	width: 80px;
	height: 80px;
}

#plumber-logo {
	width: 110px;
	height: 110px;
}

.column-picture p {
	color: white;
	font-weight: bold;
    font-size: 1.8em;
}

@media screen and (max-width: 800px) {
  .column-picture {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column-picture {
    flex: 100%;
    max-width: 100%;
  }

  .column-picture {
  	margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
	 #second-section {
	 	padding-bottom: 50px;
	 }

	#descent-icon {
		width: 60px;
		height: 60px;
		top: -30px;
		margin-bottom: 0;
	}

	#second-section h2 {
		font-size: 2.5em;
	}

	#tap-logo {
		width: 90px;
		height: 90px;
	}

	#heater-logo {
		width: 70px;
		height: 70px;
	}

	#plumber-logo {
		width: 90px;
		height: 90px;
	}

	.column-picture p {
		font-size: 1.5em;
	}
}

/*Presentation part*/

#presentation-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 0 80px 0;
}

#presentation-block h2 {
	font-family: 'Bree Serif', serif;
	text-align: center;
	color: #252525;
	font-size: 2.9em;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}

#presentation-block div p {
	text-align: justify;
	color: black;
	font-size: 1.4em;
	font-weight: normal;
	font-style: normal;
}

#presentation-block div {
	width: 500px;
}

#presentation-block #descent-icon {
	margin-bottom: 0;
	top: -45px;
}

@media screen and (max-width: 576px) {
	#presentation-block {
		padding: 10px 15px 80px 15px;
	}

	#presentation-block div {
		width: 100%;
	}

	#presentation-block div p {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 450px) {
	#presentation-block h2 {
		margin-top: 0;
		font-size: 2.5em;
	}

	#presentation-block {
		padding: 10px 15px 40px 15px;
	}
}

/*Reminder section*/

#reminder-section {
	background-color: #2d56f5;
	padding: 10px 0;
}

#reminder-section .space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#reminder-section p {
	color: white;
}

#reminder-section .call p {
	color: #2d56f5 !important;
	font-weight: bold;
	margin: 5px 20px 5px 5px;
}

#reminder-section a {
	background-color: white;
	width: 100px;
	height: 40px;
}

#reminder-section img {
	margin: 0 5px 0 20px;
}

/*Footer*/

footer {
    background-color: #222121;
    color: white;
    padding: 50px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
}

footer .w-33 {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer .column-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .column-wrap .column {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .column-wrap p {
    text-align: justify !important;
    font-size: 1.2em;
}

.w-33 {
    width: 33%;
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-paragraph p {
    max-width: 300px;
}

.footer-paragraph {
    align-items: flex-start !important;
}

footer div p {
    text-align: center;
    margin: 0;
}

.flex-end {
    display: flex;
    align-items: flex-end !important;
}

.flex-end p {
    margin: 0.5em;
    font-size: 1.3em !important;
}

.flex-end a {
    color: white;
    text-decoration: none;
}

.btn-gray {
    background-color: #696969;
}

.container {
    margin: auto;
    width: 960px;
}

.w-33 .btn-gray {
    font-size: 1.3em;
}

footer .w-33 div {
    display: flex;
    align-items: center;
}

.social-network img {
    width: 40px;
    height: 40px;
}

.social-network a {
    margin: 15px;
}

footer .footer-paragraph h3 {
	color: #98adff;
}

footer .footer-paragraph a {
	color: white;
	margin-bottom: 8px;
	font-size: 1.1em;
}

@media screen and (min-width: 1200px) {
    .navbar, .container {
        width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 15px 0 15px;
        box-sizing: border-box;
    }
    
    .bg-gray h2 {
        text-align: center;
        font-size: 2.2em;
        margin-bottom: 0.7em;
    }
    
    .bg-gray h4 {
        font-size: 1.5em;
    }
    
    .bg-gray p {
        font-size: 1.1em;
    }
    
    .flex-center p {
        font-size: 1.4em;
    }
    
    .bg-gray p {
        font-size: 2em;
    }
    
    footer .bg-gray .container div {
        margin-bottom: 0;
    }
    
    .bg-gray {
        padding: 20px 0 20px 0;
    }
    
    footer .column-wrap p {
        font-size: 1.1em !important;
    }
}

@media screen and (max-width: 768px) {
    footer .column-wrap .column {
        width: 100%;
    }
    
    footer .column-wrap:nth-child(even) {
        flex-direction: column-reverse;
    }
    
    footer .bg-gray .column-wrap .column {
        padding-bottom: 0;
    }
    
    footer .w-33 {
        justify-content: center;
        padding: 15px 0 15px 0;
        align-items: center !important;
    }
    
    footer .column img {
        display: none;
        visibility: hidden;
    }
    
    footer .column-wrap p {
        max-width: 400px;
        font-size: 1.3em !important;
    }
}

@media screen and (max-width: 576px) {
    
    .bg-gray h2 {
        font-size: 2em;
        word-break: break-all;
        margin: 0;
    }
    
    .bg-gray p {
        font-size: 1.5em;
    }
    
    .bg-gray .column-wrap .column {
        padding-top: 40px;
    }
    
    .bg-gray {
        padding: 60px 0 60px 0;
    }
    
    .btn-big {
        font-size: 1.3em;
    }
    
    footer .column-wrap p {
        max-width: unset;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
	footer {
		padding: 20px 0 20px 0;
	}

	footer .column-wrap .column {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}

	footer .column-wrap p {
	    font-size: 1.1em !important;
	}
}

/*===== FOR OTHER PAGES =====*/

/*Box de promotion*/

#promotion_article {
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 12em;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	height: 315px;
	visibility: hidden;
	display: none;
}

#black_top_card {
	background-color: #2F2E2E;
	border-radius: 1em 1em 0 0;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

#bottom_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#black_top_card h4 {
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: white;
    width: 10em;
    text-align: center;
}

#bottom_card h4 {
	font-family: 'Bree Serif', serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #2F2E2E;
    text-align: center;
    width: 8em;
    margin: 0px;
}

#bottom_card a {
	text-decoration: none;
	color: #2F2E2E;
	font-family: 'Bree Serif', serif;
	font-size: 1.1em;
	font-weight: normal;
    text-align: center;
    margin: 0px;
    transition-property: color;
    transition-duration: 0.3s;
}

#bottom_card a:hover {
	color: #828282;
}

#bottom_card h3 {
	text-align: center;
	margin: 0px;
	width: 8em;
}

.separation_line {
	background-color: #C7C7C7;
	width: 8em;
	height: 1px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	padding: 0px;
}

/*Article*/

.article_container {
	width: 1024px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 5em;
	margin-top: 3em;
}

article {
	width: 42em;
}

article p, article ul
{
	font-family: 'Montserrat', sans-serif;
	color: #2F2E2E;
	font-size: 1.1em;
	font-weight: normal;
	text-align: justify;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0;
}

article h2 {
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	margin: 0px;
	color: #2F2E2E;
	font-size: 1.8em;
	margin-top: 2em;
	word-wrap: break-word;
}

article h3 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	margin: 0px;
	text-align: left;
	color: #2F2E2E;
	font-size: 1.6em;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
	word-wrap: break-word;
}

article h2:nth-child(1) {
	margin-top: 0;
}

.important_title {
	text-decoration: underline;
	font-size: 1.8em;
}

.underline_title {
	background-color: #2d56f5;
	height: 4px;
	margin-top: 0.7em;
	margin-bottom: 2em;
}

.important_thing {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
}

.important_thing em {
	font-style: normal;
}

.center_thing {
	color: #2F2E2E;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	margin: 1.5em;
}

#center_image {
	display: block;
	margin: auto;
	width: 45%;
}

#fire_picture2, #fire_picture3 {
	width: 90%;
}

#fire_picture1 {
	width: 60%;
	margin-left: 1%;
}

#image_article_float_right {
	float: right;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 3em;
	border-radius: 0.5em;
}

@media screen and (min-width: 1280px) {
	.article_container {
		width: 1170px;
	}

	#promotion_article {
		visibility: visible;
		display: block;
	}
}

@media screen and (max-width: 1280px) {
	#article_publicity {
		visibility: hidden;
		display: none;
	}

		.article_container {
		width: 100%;
	}

		article {
		margin: auto;
	}
}

@media screen and (max-width: 765px) {
	.article_container {
		width: 100%;
	}

	#image_article_float_right {
		display: none;
		visibility: hidden;
	}

	article {
		width: 100%;
		box-sizing: border-box;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

@media screen and (max-width: 467px) {
	#footer_article {
		visibility: hidden;
		display: none;
	}
}

.article-centered {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 450px) {
	.article_container {
		margin-top: 1.5em;
		margin-bottom: 2em;
	}

	.article_container .centerimage300px {
		width: 70%;
	}
}

/*Table style*/

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

td, th {
    border: 1px solid black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #2F2E2E;
    padding: 7px;
    font-size: 1.2em;
    word-break: break-word;
}

th {
	font-size: 1.3em;
	font-weight: normal;
}

/*Publicite article*/

#article_publicity {
	width: 12em;
}

/*Image support*/

.centerimage600px {
	display: block;
	width: 500px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.centerimage500px {
	display: block;
	width: 500px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


.centerimage400px {
	display: block;
	width: 400px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


.centerimage300px {
	display: block;
	width: 300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.centerimage200px {
	display: block;
	width: 200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

@media screen and (max-width: 550px) {
	.centerimage200px, .centerimage300px, .centerimage400px, .centerimage500px, .centerimage600px {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.centerimage200px, .centerimage300px {
		width: 60%;
	}
}

.glide__slide img {
	width: 100%;
}

.glide__arrow {
	font-size: medium;	
	color: black !important;
	background-color: white !important;
	border-radius: 0.7em !important;
	border-color: white !important;
	box-shadow: 0px 0px 14px 0px #7e7e7e !important;
}

/*Bathroom part*/

#bathroom-part {
	margin-top: 2em;
	margin-bottom: 4em;
}

#bathroom-part h2 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	font-size: 3em;
	text-align: left;
	color: #2F2E2E;
	margin-top: 0;
}

.row-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.column-card {
  flex: 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column-card img {
  margin: auto;
  vertical-align: middle;
  width: 100%;
  border-radius: 1em 1em 0 0;
}

.column-card h3 {
	text-align: center;
	color: #2F2E2E;
	font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0;
}

.column-card p {
	text-align: justify;
	color: #6c6c6c;
    font-size: 0.9em;
}

.column-card .card .short-text {
	padding: 0 20px 0 20px;
}

.column-card .card {
	margin: 0 20px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	border-radius: 1em;
	min-height: 440px;
}

@media screen and (max-width: 970px) and (min-width: 800px) {
	.column-card .card {
		margin: 0 10px;
	}
}

@media screen and (max-width: 800px) {
  .column-card {
    flex: 50%;
    max-width: 50%;
  }

  .column-card .card {
  	margin-top: 2em;
  }

  .row-card {
  	margin-top: 0;
  }

  #bathroom-part h2 {
  	margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .column-card {
    flex: 100%;
    max-width: 100%;
  }

  .column-card {
  	margin-top: 10px;
  }
}

/*Picture square*/

.picture-square * {
	box-sizing: border-box;
}

.picture-square {
	width: 800px;
	margin: auto;
}

.picture-square .row-picture {
	margin-top: 20px;
}

.picture-square .column-picture {
	padding: 0 10px;
}

@media screen and (max-width: 830px) {
  .picture-square {
  	width: 100%;
  }

  .picture-square .row-picture .column-picture:nth-child(3) {
  	display: none;
  	visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .picture-square {
  	width: 80%;
  }

  .picture-square .row-picture .column-picture:nth-child(3) {
  	display: none;
  	visibility: hidden;
  }

  .picture-square .row-picture:nth-child(3) {
  	display: none;
  	visibility: hidden;
  }

  .picture-square .row-picture {
	margin-top: 0;
	}
}


@media screen and (max-width: 450px) {
	#bathroom-part {
		margin-top: 1em;
	}

	#bathroom-part h2 {
		font-size: 2.5em;
	}

	.column-card .card {
		margin-top: 1em;
	}

	.article-centered {
		margin-top: 0;
	}

	.article-centered h3 {
		margin-top: 0.3em;
	}
}
